.ant-modal-content {
  padding: 20px;
}

.ant-input,
.ant-select,
.ant-radio-group {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.ant-select{
  margin-top: 30pt;
}
.ant-input{
  border: 2pt white solid !important;
}

.ant-tabs-content-holder {
  border: solid;
  height: 55vh;
}

.create-button {
  margin-top: 20px;
}
.template-content, .github-content, .gitee-content {
  display: flex;
    flex-direction: row;
    gap: 20px;
    height: 55vh;
    border: 2pt rgb(147, 95, 95) solid;
}

.form-left, .form-right {
  border: 2pt rgb(61, 198, 48) solid;
}

.form-left {
  width: 50%;
  padding-right: 10px;
}

.form-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choose_m {
  width: 100%;
}

.project-title-input {
  margin-top: 10px;
}

.privacy-options {
  margin-top: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 使用网格布局来适应不同的屏幕大小 */
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

